

.page-1 .story {
	position: absolute;
	right: 57%;
	top: 58%;
}

.page-2 .story {
	position: absolute;
	right: 57%;
	top: 63%;
}

.page-3 .story {
	position: absolute;
	top: 62%;
}


.page-4 .story {
	position: absolute;
	right: 57%;
	top: 68%;
}


.page-5 .story {
	position: absolute;
	right: 57%;
	top: 64%;
}


.page-6 .story {
	position: absolute;
	top: 62%;
	right: 5%;
}

.page-7 .story{
	right: 57%;
	top: 60%;
}