@import url(http://fonts.googleapis.com/css?family=Rokkitt);

@font-face {
	font-family: 'Rokkitt';
	src:url('../fonts/Rokkitt.otf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
}

#magazine{
    width: 100%;
    height: 100vh;
}

#magazine .turn-page{
    background-color:#ccc;
}

.page{
	position: relative;
	background-size: cover;

}

.story {
	font-size: 1.3em;
	width: 375px;
	position: absolute;
	right: 20px;
	top: 40%;
	text-shadow: 1px 2px 2px rgba(255, 238, 234, 1);
	background: rgba(255,255,255,0.6);
	border-radius: 5px;
	overflow: hidden;
}

.story .text{
	font-family: 'Rokkitt', sans-serif;
}

.story .text p{
	margin: 10px 15px;
}

.story .controls{
	border-top: 1px solid #A5A5A5;
	padding: 0px;
}

.story .controls, .story .controls li{
	list-style-type: none;
	font-family: 'Rokkitt', sans-serif;
}

.story .controls li {
	border-left: 1px solid #A5A5A5;
	height: 50px;
	float: left;
	width: 124px !important;
	text-align: center;
	padding-top: 15px;
}

.story .controls li:first-child{
	border-left: 0px;
}

.story .controls li a{
	text-decoration: none;
	color: blue;
}

.record-timer{
	height: 55px;
	margin-top: -20px;
}

.clear{
	clear:both;
}

.page-0 {
	background-image: url('../img/0.jpg');
}

.page-1{
	background-image: url('../img/1.jpg');
}
.page-2{
	background-image: url('../img/2.jpg');
}
.page-3{
	background-image: url('../img/3.jpg');
}
.page-4{
	background-image: url('../img/4.jpg');
}
.page-5{
	background-image: url('../img/5.jpg');
}
.page-6{
	background-image: url('../img/6.jpg');
}
.page-7{
	background-image: url('../img/7.jpg');
}

.page img{
	width: 100%;
	height: 100vh;
}

.sideleft{
	margin-right: 30%;
}